*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flask-container {
    background: #fff;
    width: 100%;
    height: 100vh;
}
.flask-content{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.flask-content h1 {
    color: blueviolet;
    text-align: center;
}

.flask-card {
    max-width: 40rem;
    height: 100%;
    padding: 0 5rem 0 5rem;
    border: 2px solid blueviolet;
    border-radius: .5rem;
    margin-bottom: 4rem;
}
.flask-card h2 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(30, 30, 113);
}

.flask-card h3 {
    margin: .8rem;
}
.flask-card p {
    margin: .7rem;
    font-size: 1rem;
    font-weight: 400;
}

