body{
    /* background-image: url(cherry.PNG); */
    background-color: rgb(60, 17, 218);
    background: radial-gradient(circle at center, 
    rgb(10, 12, 12), rgb(36, 36, 36), rgb(103, 8, 245)),100% ;
}
/* Navbar styles */
.navbar {
    background-color: #3498db;
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #f39c12;
}

.container{
    margin-top: 60px;
    height: 100vw;
    width: 80vw;
    background-color: rgb(248, 248, 250);
  
    box-shadow: 0 5px 10px rgb(246, 245, 245);
  
  
    margin-left: 10px
}

.scrollbar-link{
    width: 15%;
    height: 100%;
    border: 0.1px solid grey;
    overflow: auto;
    background: rgb(42, 1, 99);
    padding: 3px;

}
#aa{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: rgb(250, 251, 249);
    font-size: 18px;
}
#aa:hover{
    background: radial-gradient(circle at center, 
    rgb(10, 12, 12), rgb(36, 36, 36), rgb(210, 7, 173)),100% ;
}
/* body {
    display: flex;
    height: 100vh;
    margin: 0;
} */

.sidebar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 15px;
    background-color: rgb(48, 5, 108);
   
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color:#fff;
}

.content {
    flex: 1;
    padding: 20px;
}
